.add-comment {
  border: 0.5px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* justify-content: space-between; */
  flex-direction: row;
  max-width: 150vh;
  min-width: 100vh;
  min-height: 8vh;
  align-items: center;
  max-height: 11vh;
  padding: 30px;
}

.input {
  min-width: 90vh;
  min-height: 10vh;
  max-height: 15vh;
  font-size: 20px;
}

.post-btn {
  align-self: flex-end;
  height: 100px;
  width: 150px;
  margin: 30px;
}
