.comments {
  border: 0.5px solid #95afc0;
  display: flex;
  max-width: 150vh;
  min-width: 100vh;
  min-height: 15vh;
  justify-content: space-between;
}

.single-article-box {
  display: flex;
  border: 1px solid blue;
  height: 250px;
  justify-content: center;
}

.comment-p {
}

.comment-p-body {
  min-width: 50%;
  border: 0.5px solid #c7ecee;
  padding: 50px;

  align-self: center;
}

.comment-p-votes {
  align-self: center;
  padding: 20px;
}

.date {
  display: flex;
}
.comment-btn {
  background-color: #22a6b3;

  color: white;
  text-align: center;

  padding: 15px 25px;
  height: 70px;
}
