.add-comment {
  border: 0.5px solid red;
  display: flex;

  justify-content: space-around;

  min-width: 100vh;
  min-height: 8vh;

  max-height: 11vh;
  padding: 30px;
}

.text {
  padding: 20px;
  align-self: flex-start;
}

.input {
  align-self: center;
  min-width: 90vh;
  min-height: 9vh;
  max-height: 15vh;
  font-size: 20px;
}

.post-btn {
  align-self: flex-end;
  padding: 15px 32px;
  height: 70px;
  background-color: #f9ca24;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
}
