.container {
  display: flex;
  /* flex-flow: row wrap; */
  flex-wrap: wrap;
  justify-content: space-around;
}

.article {
  align-items: center;
  margin: 20px;
  border-radius: 5%;
  width: 30%;
  height: 620px;

  display: flex;
  overflow: hidden;
  text-align: center;
  background-color: white;
}

.article h4 {
  color: #130f40;
  padding: 5px;
}

.article p {
  margin: 0;
  padding: 7px;
  color: #130f40;
  font-size: 15px;
}

.article img {
  overflow: hidden;
  align-self: flex-start;
  margin: auto;

  max-width: 100%;
}
