.add-article {
  display: flex;
  flex-direction: column;
  border: 1px solid #95afc0;
}
.topic {
  width: 250px;
  align-self: center;
  height: 70px;
  margin: 20px;
}

.title {
  align-self: center;
}

.post-article-btn {
  margin: 20px;
  align-self: center;
  width: 200px;
  height: 100px;
}
