.add-article {
  display: flex;
  flex-direction: column;
}
.topic {
  width: 250px;
  align-self: center;
  height: 70px;
  margin: 20px;
  border: none;
  border-radius: 20px;
  padding: 16px 20px;
  background-color: #f1f1f1;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4em;
  align-self: center;
}
.body {
  height: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4em;
  align-self: center;
}

.input-ttl {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  width: 40%;
  height: 80px;
  align-self: center;
  resize: none;
  border-radius: 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  padding: 12px 20px;
  transition: width 0.4s ease-in-out;
}

.input-ttl:focus {
  width: 60%;
}

.input-bdy {
  font-family: "Open Sans", sans-serif;
  width: 50%;
  height: 200px;
  align-self: center;
  font-size: 1.1em;
  text-align: justify;
  box-sizing: border-box;
  border: 2px solid #ccc;
  padding: 12px 20px;
  resize: none;
  transition: width 0.4s ease-in-out;
  border-radius: 20px;
}

.input-bdy:focus {
  width: 60%;
}

.post-article-btn {
  align-self: center;
  width: 160px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  border-radius: 20px;
  background-color: #e48519;
  padding: 20px;
  border: none;
  color: white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 17px;

  cursor: pointer;
}

.post-article-btn:hover {
  background-color: white;
  color: #e48519;
}

.post-article-btn:disabled {
  background-color: #a5b1c2;
  cursor: not-allowed;
}
