.error-page {
  display: flex;
  flex-direction: column;

  align-content: center;
  padding: 20px;
}
.error-page h2 {
  align-self: center;
}

.error-page img {
  align-self: center;
  max-width: 450px;
}
